body{
	background-color:orange;
}
h1{
	font-weight:bold;
	color:green;
	text-align:center;
}
#description{
	font-weight:bold;
	font-size:25px;
	font-style:italic;
	color:blue;
	text-align:center;
}
.quiz-container{
	display:none;
	font-size:20px;
}
#results{
	display:none;
	width: 650px;
	padding: 10px;
	border: solid black 2px;
	background-color: white;
	position:absolute;
	left:28%;
	text-align:center;
}
input{
	width: 60%;
	height: 34px;
	padding: 6px 12px;
}
#announce{
	color:green;
}
#scoreboard{
	padding: 30px;
	border: solid red 2px;
	cursor: pointer;
	border-width: 10px;
	background-color: orange;
	color: blue;
	font-weight: bold;
}
.header{
	padding:40px;
	font-size:30px;
	text-align:center;
}
#Time{
	position: absolute;
	top: 10%;
	right:8%;
	color: brown;
}
#navbox{
	position:absolute;
	top:30%;
	right:3%;
}
td{
	padding:4px;
	width:30px;
	height:30px;
	margin:solid white 1px;
	border:solid black 2px;
	cursor:pointer;
}
#top{
	font-size:40px;
	color:orange;
	font-weight:bold;
	border-bottom:4px dotted green;
	text-align:center;
}
#quiz{
	height:450px;
	background-color:pink;
	width:60%;
	padding:10px;
	border: solid #663399 5px;
	font-size:22px;
}
button{
	cursor:pointer;
	border-radius: 40%;
	font-size:20px;
}
#start{
	border-radius: 100%;
	background-color:red;
	padding:20px;
	border:solid brown 3px;
	color:white;
}
#next{
	position:absolute;
	top:85%;
	left:45%;
}
#submit{
	position:absolute;
	top:85%;
	left:80%;
}
#previous{
	position:absolute;
	top:85%;
	left:5%;
}	
#ansopt{
	padding-top :15px;
	padding-bottom :15px;
	font-size:20px;
	font-style:italic;
}
.navigator{
	padding :18px;
	background-color:blue;
	border: solid orange 2px;
	color:white;
	font-weight:bold;
}

